<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="height: 400px;" class="card-img-top mb-5 mb-md-0" src="{{pdata.image}}" alt="..." /></div>
            <div class="col-md-6">
                
                <h1 class="display-5 fw-bolder"> {{pdata.productName}} </h1>
                <div class="fs-5 mb-2">
                    <span class="text-decoration-line-through">2000Rs</span>
                    <span>{{pdata.price}}Rs</span>
                </div>
                <p class="lead"> {{pdata.description}} </p>
                <p> {{pdata.size}} </p>
                <p> {{pdata.rating}}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-warning me-2"><a style="text-decoration: none;color: rgb(236, 226, 80);" href="products/edit-product/{{pdata.id}}">Edit</a></button>
                    <button (click)="delete()" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>
